.guess-game {
  display: flex;
  justify-content: center;
}

.jumbled-letter {
  height: 3rem;
  width: 3rem;
  margin: 5px;
  border: 2px solid;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 30px;
}

.guess {
  text-align: center;
  height: 3rem;
  width: 17rem;
  font-size: 25px;
  margin: 5px;
  border: 2px solid;
  border-radius: 5px;
  background: transparent;
  color: white;
}

.word-reveal-container {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.word-reveal {
  height: 3rem;
  width: 3rem;
  margin: 5px;
  border: 2px solid;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 30px;
}
