.guess-game {
  display: flex;
  justify-content: center;
}

.letter {
  height: 3rem;
  width: 3rem;
  margin: 5px;
  border: 1px;
  border-style: solid;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 30px;
}

.guess {
  display: inline-block;
  text-align: center;
  height: 2rem;
  width: 15rem;
  font-size: 25px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 14px;
}
