@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");

.scrambl-header-logo {
  font-size: 62px;
  font-family: "Gloria Hallelujah", cursive;
}
.scrambl-header-logo-subtext {
  margin-bottom: 30px;
  font-size: 22px;
  font-family: "Gloria Hallelujah", cursive;
}

.reveal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.reveal-button {
  align-items: center;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.reveal-button:active,
.reveal-button:hover {
  outline: 0;
}

.reveal-button span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.reveal-button:hover span {
  background: none;
}

@media (max-width: 768px) {
  .scrambl-header-logo {
    font-size: 42px;
    font-family: "Gloria Hallelujah", cursive;
  }
  .scrambl-header-logo-subtext {
    margin-top: -10px;
    margin-bottom: 30px;
    font-size: 18px;
    font-family: "Gloria Hallelujah", cursive;
  }
}
