#root {
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(
    135deg,
    #af40ff59,
    #5a42f359 40%,
    #00dbeb59
  );
  color: rgba(48, 0, 124, 0.986);
}
