body {
  margin: unset;
}

#root {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(
    135deg,
    #af40ff59,
    #5a42f359 40%,
    #00dbeb59
  );
  color: rgba(48, 0, 124, 0.986);
}
